<?xml version="1.0"?>
<!--
/**
 * Register routing for admin controllers
 *
 * @author Shubhanshu Chouhan <shubhanshu@richpanel.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="richpanel" frontName="richpanel">
            <module name="Richpanel_Analytics" />
        </route>
    </router>
</config>